@page
@model MediaBazaarSite.Pages.ForgotPasswordPageModel
@{
}


<div class="password-changer-con">

    <div>
        <h2>@Model.Message</h2>
    </div>

    <form method="post" id="Password-Changer">

        <span asp-validation-for="PasswordChanger.Email"></span>
        <input asp-for=PasswordChanger.Email type="email" placeholder="Your email" required/>
        <span asp-validation-for="PasswordChanger.Password"></span>
        <input asp-for=PasswordChanger.Password type="password" placeholder="New password" required/>

        <input id="PChanger-button" type="submit" value="Change password" />

    </form>

</div>