@page
@model MediaBazaarSite.Pages.SuccessModel
@{
}


<h1>Successfully requested</h1>
<h2>Going back to page</h2></>

<script>
    setTimeout(function () {
        window.location.href = 'Products';
    }, 3000);
</script>